extends layout

block content
	div.row
		form#task.form(action="/tasks", method="POST")
			div.form-group
				div.input-group
					.row
						.col-xs-2
							a#complete-all.alldone.btn.btn-success.pull-left(href="/tasks", title="All tasks are completed") #[i.glyphicon.glyphicon-ok]  all done
						.col-xs-10
							input.form-control(type="text", name="name", placeholder="Add a new task", required)
							span.input-group-btn
								button.btn.btn-primary(type="submit") Add Task
		
	ul.tasks
		each task, i in tasks
			li 
				.task.row
					.col-xs-2
						a.done.btn.btn-success.pull-left(href="/tasks?id=#{ task.id }", title="Task is completed") #[i.glyphicon.glyphicon-ok]  done
					.col-xs-8
						ol
							li #{ task.name }
							span.dblock 
								em (Created at: #{moment(task.creationDate).format('YYYY/MM/DD HH:mm')})
					.col-xs-2
						a.delete.btn.btn-danger.pull-right(href="/tasks?id=#{ task.id }", title="Task will be deleted") #[i.glyphicon.glyphicon-trash]  delete
				
			//-montamos una url dinámica para capturar el click del enlace con jquery
			//-si lo hacemos con button, en html sería algo así:
			//-<input type="button" onclick="location.href='http://google.com';" value="Go to Google" />  Con la url que nos tengamos que montar
			

block footer
	p 
		em You have created #{ tasks.length } tasks.