extends layout

block content
	div.row
		form.form(action="/tasks", method="POST")
			div.form-group
				div.input-group
					input.form-control(type="text", name="name", placeholder="Add a new task", required)
					span.input-group-btn
						button.btn.btn-primary(type="submit") Add Task
		
	ul.tasks
		each task, i in tasks
			li 
				.row
					.col-xs-2
						a.btn.btn-success.pull-left(href="/tasks?id=#{ task.id }")#[i.glyphicon.glyphicon-ok]  add
					.col-xs-8
						#{ task.id } - #{ task.name }
						span.dblock 
							em (Created at: )
					.col-xs-2
						a.btn.btn-danger.pull-right(href="/tasks?id=#{ task.id }")#[i.glyphicon.glyphicon-trash]  delete
				
			//-montamos una url dinámica para capturar el click del enlace con jquery
			//-si lo hacemos con button, en html sería algo así:
			//-<input type="button" onclick="location.href='http://google.com';" value="Go to Google" />  Con la url que nos tengamos que montar
			

block footer
	p 
		em You have created #{ tasks.length } tasks.